@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  background: rgb(230, 230, 230);
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  all: revert;
  width: 100%;
  pointer-events: auto;
}